<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="org.jboss.aerogear.cordova.oauth2" version="1.0.1">

  <name>OAuth2</name>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <asset src="www/oauth2.js" target="js/oauth2.js" />

  <js-module src="www/oauth2.js" name="oauth2">
    <clobbers target="oauth2" />
  </js-module>

  <platform name="android">
    <dependency id="org.jboss.aerogear.cordova.android.reflect" url="https://github.com/edewit/aerogear-reflect-cordova.git"/>
    <info>
      open platforms/android/build.gradle and under the `android` section add:

      repositories {
        mavenCentral()
      }

      dependencies {
        compile 'org.jboss.aerogear:aerogear-android-authz:2.0.0-alpha.1@aar'
        compile 'org.jboss.aerogear:aerogear-android-core:2.0.0-alpha.1@aar'
        compile 'org.jboss.aerogear:aerogear-android-pipe:2.0.0-alpha.1@aar'
        compile 'org.jboss.aerogear:aerogear-android-store:2.0.0-alpha.1@aar'
        compile 'com.google.code.gson:gson:1.7.2'
        compile 'com.google.guava:guava:18.0'
      }

      and add minSdkVersion and targetSdkVersion to defaultConfig, like this:

      defaultConfig {
        versionCode Integer.parseInt("" + getVersionCodeFromManifest() + "0")
        minSdkVersion 16
        targetSdkVersion 21
      }

      you can not use `cordova build` but have to execute `gradle installDebug` from the platforms/android directory
    </info>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OAuth2Plugin">
        <param name="android-package" value="org.jboss.aerogear.cordova.oauth2.OAuth2Plugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="org.jboss.aerogear.android.impl.authz.oauth2.OAuth2AuthzService"/>
    </config-file>
    <source-file src="src/android/OAuth2Plugin.java" target-dir="src/org/jboss/aerogear/cordova/oauth2/"/>
  </platform>

  <platform name="ios">
    <info>
      open xcode go into settings change:
      1. `deployment target` to 7.0 or above
      2. add `[Project Name]/Plugins/org.jboss.aerogear.cordova.oauth2/Bridging-Header.h` to Objective-c Bridging Header
          under the Swift Compiler - Code Generation options
      3. set LD_RUNPATH_SEARCH_PATHS to "$(inherited) @executable_path/Frameworks"
    </info>
    <config-file target="config.xml" parent="/*">
      <feature name="OAuth2Plugin">
        <param name="ios-package" value="OAuth2Plugin" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$PACKAGE_NAME</string>
          </array>
        </dict>
        <dict>
          <key>CFBundleURLName</key>
          <string>fbYYY</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb$PACKAGE_NAME</string>
          </array>
        </dict>
      </array>
    </config-file>
    <source-file src="src/ios/AeroGearHttp.h" />
    <source-file src="src/ios/AccountManager.swift" />
    <source-file src="src/ios/AuthzModule.swift" />
    <source-file src="src/ios/Config.swift" />
    <source-file src="src/ios/DateUtils.swift" />
    <source-file src="src/ios/FacebookOAuth2Module.swift" />
    <source-file src="src/ios/Http.swift" />
    <source-file src="src/ios/HttpRequestSerializer.swift" />
    <source-file src="src/ios/JsonRequestSerializer.swift" />
    <source-file src="src/ios/JsonResponseSerializer.swift" />
    <source-file src="src/ios/KeycloakOAuth2Module.swift" />
    <source-file src="src/ios/MultiPartData.swift" />
    <source-file src="src/ios/OAuth2Module.swift" />
    <source-file src="src/ios/OAuth2Session.swift" />
    <source-file src="src/ios/RequestSerializer.swift" />
    <source-file src="src/ios/ResponseSerializer.swift" />
    <source-file src="src/ios/StringResponseSerializer.swift" />
    <source-file src="src/ios/TrustedPersistantOAuth2Session.swift" />
    <source-file src="src/ios/UntrustedMemoryOAuth2Session.swift" />
    <source-file src="src/ios/Utils.swift" />

    <source-file src="src/ios/Bridging-Header.h" />
    <source-file src="src/ios/OAuth2Plugin.swift" />
    <source-file src="src/ios/AppDelegate+url.m" />
    <source-file src="src/ios/AppDelegate+url.h" />
  </platform>
</plugin>